<div class="container"> <!-- Removed d-flex justify-content-center -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="[]" (click)="RedirectToHome()">The Ozone</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto"> <!-- Added ms-auto to move the list items to the right -->
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[]" (click)="RedirectToUpdate()">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[]" (click)="RedirectToRecharge()">Recharge</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[]" (click)="RedirectToHistory()">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[]" (click)="RedirectToLogin()">LogOut</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
