.container {
    padding-bottom: 6px;
    text-align: center;
    background-color: #f5f5dc;
}

/* Custom styles for headings */
h2 {
  color: #009688; /* Teal color for headings */
}

/* Custom styles for form labels */
.form-label {
  color: #009688; /* Teal color for form labels */
}

/* Custom styles for form inputs */
.form-control {
  border-color: #009688; /* Teal color for form input borders */
}

/* Custom styles for buttons */
.btn-primary {
  background-color: #009688; /* Teal color for primary buttons */
  border-color: #009688; /* Teal color for button borders */
}
/* Custom styles for button text */
.btn-primary:focus,
.btn-primary:hover {
  color: #fff; /* White text color on hover/focus for buttons */
}